### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Creaci√≥n de Dataframes con una lista de valores

#### Utilizando una lista de strings

##### Ejemplo 1

In [ ]:
from pyspark.sql.types import StringType

auto = ['toyota','mazda','tesla','audi','ferrari']

df = spark.createDataFrame(auto, StringType()).withColumnRenamed('value','marca')
# df = spark.createDataFrame(auto, 'string')

df.printSchema()
df.show()

root
 |-- marca: string (nullable = true)

+-------+
|  marca|
+-------+
| toyota|
|  mazda|
|  tesla|
|   audi|
|ferrari|
+-------+

##### Ejemplo 2

In [ ]:
data = [['1','sravan','company 1'],
        ['2','ojaswi','company 2'],
        ['3','bobby','company 3'],
        ['4','rohith','company 4'],
        ['5', 'alfonso','company 5']
       ]

columnas = ['id_empleado','nombre','empresa']

df = spark.createDataFrame(data, columnas)

df.printSchema()

df.show(truncate=False)

root
 |-- id_empleado: string (nullable = true)
 |-- nombre: string (nullable = true)
 |-- empresa: string (nullable = true)

+-----------+-------+---------+
|id_empleado|nombre |empresa  |
+-----------+-------+---------+
|1          |sravan |company 1|
|2          |ojaswi |company 2|
|3          |bobby  |company 3|
|4          |rohith |company 4|
|5          |alfonso|company 5|
+-----------+-------+---------+

#### Utilizando una lista de enteros

In [ ]:
from pyspark.sql.types import IntegerType

numero = [1,2,3,4,5,6]

df = spark.createDataFrame(numero, IntegerType()).withColumnRenamed('value','numero')
# df = spark.createDataFrame(auto, 'string')

df.printSchema()
df.show()

root
 |-- numero: integer (nullable = true)

+------+
|numero|
+------+
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
+------+

#### Utilizando una lista de tuplas

In [ ]:
tupla = [(10,'diez'),(20,'veinte'),(30,'treinta')]

df = spark.createDataFrame(tupla, 'id int, nombre string')

df.printSchema()
df.show()

root
 |-- id: integer (nullable = true)
 |-- nombre: string (nullable = true)

+---+-------+
| id| nombre|
+---+-------+
| 10|   diez|
| 20| veinte|
| 30|treinta|
+---+-------+