### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Renombrar m√°s de una columna

In [0]:
from pyspark.sql.functions import lit, concat

employee_data = [(10,"Raj","Kumar","1999","100","M",2000),
                 (20,"Rahul","Rajan","2002","200","f",2000),
                 (30,"Raghav","Manish","2010","100",None,2000),
                 (40,"Raja","Singh","2004","100","F",2000),
                 (50,"Rama","Krish","2008","400","M",2000),
                 (60,"Rasul","Kutty","2014","500","M",2000),
                 (70,"Kumar","Chand","2004","600","M",2000)
                ]
employee_schema = ["employee_id","first_name","last_name","doj",
                   "employee_dept_id","gender","salary"]

df = spark.createDataFrame(data=employee_data, schema=employee_schema)

In [0]:
df_nuevo = df.withColumnRenamed('first_name','nombre').withColumnRenamed('last_name','apellido')

display(df_nuevo)

employee_id,nombre,apellido,doj,employee_dept_id,gender,salary
10,Raj,Kumar,1999,100,M,2000
20,Rahul,Rajan,2002,200,f,2000
30,Raghav,Manish,2010,100,null,2000
40,Raja,Singh,2004,100,F,2000
50,Rama,Krish,2008,400,M,2000
60,Rasul,Kutty,2014,500,M,2000
70,Kumar,Chand,2004,600,M,2000