### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Ordenaci√≥n compuesta de un Dataframe

In [ ]:
from pyspark.sql.functions import lit, concat, col, desc

employee_data = [(10,"Raj","Kumar","1999","100","M",2000),
                 (20,"Sahul","Rajan","2002","200","F",3000),
                 (30,"Antonio","Manish","2010","100",None,9000),
                 (40,"Yaja","Singh","2004","100","F",1000),
                 (50,"Nama","Krish","2008","400","M",8000),
                 (60,"Alfonso","Kutty","2014","500","M",7000),
                 (70,"Tumar","Chand","2004","600","M",7000)
                ]
employee_schema = ["employee_id","first_name","last_name","doj",
                   "employee_dept_id","gender","salary"]

df = spark.createDataFrame(data=employee_data, schema=employee_schema)
df.printSchema()

root
 |-- employee_id: long (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- doj: string (nullable = true)
 |-- employee_dept_id: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

#### Ordenar los empleados en orden ascendente por *salary* y luego en orden ascendente por *first_name*.

In [ ]:
df.sort(df['salary'], df['first_name']).show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
+-----------+----------+---------+----+----------------+------+------+

In [ ]:
df.sort(['salary','first_name']).show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
+-----------+----------+---------+----+----------------+------+------+

In [ ]:
df.sort('salary','first_name').show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
+-----------+----------+---------+----+----------------+------+------+

#### Ordenar los empleados en orden descendente por *salary* y luego en orden ascendente por *first_name*.

In [ ]:
df.sort(desc(df['salary']), df['first_name']).show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
+-----------+----------+---------+----+----------------+------+------+

In [ ]:
df.sort(df['salary'].desc(), df['first_name']).show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
+-----------+----------+---------+----+----------------+------+------+

In [ ]:
df.sort(desc('salary'), 'first_name').show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
+-----------+----------+---------+----+----------------+------+------+

In [ ]:
df.sort(['salary', 'first_name'], ascending=[0,1]).show(truncate=False)

+-----------+----------+---------+----+----------------+------+------+
|employee_id|first_name|last_name|doj |employee_dept_id|gender|salary|
+-----------+----------+---------+----+----------------+------+------+
|30         |Antonio   |Manish   |2010|100             |null  |9000  |
|50         |Nama      |Krish    |2008|400             |M     |8000  |
|60         |Alfonso   |Kutty    |2014|500             |M     |7000  |
|70         |Tumar     |Chand    |2004|600             |M     |7000  |
|20         |Sahul     |Rajan    |2002|200             |F     |3000  |
|10         |Raj       |Kumar    |1999|100             |M     |2000  |
|40         |Yaja      |Singh    |2004|100             |F     |1000  |
+-----------+----------+---------+----+----------------+------+------+