### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Sustituir una subcadena utilizando una expresión regular

In [0]:
from pyspark.sql.functions import col, regexp_replace

data = [(1,'nombre A','Gibson'),
        (2,'nombre B','Fender'),
        (3,'nombre C','Ibanez')
       ]

df = spark.createDataFrame(data).toDF('id','nombre','empresa')
df.printSchema()
df.show(truncate=False)

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- empresa: string (nullable = true)

+---+--------+-------+
|id |nombre  |empresa|
+---+--------+-------+
|1  |nombre A|Gibson |
|2  |nombre B|Fender |
|3  |nombre C|Ibanez |
+---+--------+-------+

#### regexp_replace

El método regexp_replace sustituye la expresión regular coincidente por la cadena especificada.

In [0]:
replace = '(A|C)'

df_nuevo = df.select(regexp_replace(col('nombre'),replace,"Z").alias('reemplazo'),col('nombre'))

df_nuevo.show()

+---------+--------+
|reemplazo|  nombre|
+---------+--------+
| nombre Z|nombre A|
| nombre B|nombre B|
| nombre Z|nombre C|
+---------+--------+