### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Eliminar registros nulos con drop

In [0]:
from pyspark.sql.functions import *

estudiante = [("Alfonso","Science",86,"A",90),
              ("Maria","Math",56,"R",None),
              ("Javiera","English",77,"A",85),
              ("Andres","Science",None,"A",None),
              ("Tomas","Math",69,"A",70),
              ("Raul",None,45,"R",50),
              (None,None,None,None,None)
             ]
schema = ["nombre","ramo","puntaje","status","asistencia"]

df = spark.createDataFrame(data=estudiante, schema=schema)
df.show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|  Maria|   Math|     56|     R|      null|
|Javiera|English|     77|     A|        85|
| Andres|Science|   null|     A|      null|
|  Tomas|   Math|     69|     A|        70|
|   Raul|   null|     45|     R|        50|
|   null|   null|   null|  null|      null|
+-------+-------+-------+------+----------+

####dropna( ) y .na.drop( ) cumplen la misma función.

####Sintaxis: df.dropna(how="any", thresh=None, subset=None)

#### na.drop o na.drop('any')

Elimina las filas si alguna o todas las columnas contienen un valor nulo

In [0]:
df.na.drop().show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
+-------+-------+-------+------+----------+

In [0]:
df.na.drop('any').show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
+-------+-------+-------+------+----------+

#### dropna( ) o dropna(“any”)

Elimina las filas si alguna o todas las columnas contienen un valor nulo

In [0]:
df.dropna().show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
+-------+-------+-------+------+----------+

In [0]:
df.dropna('any').show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
+-------+-------+-------+------+----------+

#### na.drop(“all”)

Si se utiliza "all", la fila se elimina sólo si todos los valores son nulos o NaN para esa fila

In [0]:
df.na.drop('all').show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|  Maria|   Math|     56|     R|      null|
|Javiera|English|     77|     A|        85|
| Andres|Science|   null|     A|      null|
|  Tomas|   Math|     69|     A|        70|
|   Raul|   null|     45|     R|        50|
+-------+-------+-------+------+----------+

#### Indicando un conjunto de columnas

También podemos aplicar esto a ciertos conjuntos de columnas pasando una lista de columnas

In [0]:
# Para eliminar la fila las columnas “id” e “email” deben ser null. Es decir, cualquiera de las dos.
df.na.drop(how='all', subset=['puntaje','asistencia']).show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|  Maria|   Math|     56|     R|      null|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
|   Raul|   null|     45|     R|        50|
+-------+-------+-------+------+----------+

#### thresh

Si los valores no NULL de una fila o columna en particular son menores que el valor de thresh, borra esa fila o columna.
El thresh significa la cantidad de valores no null que debe tener como minimo una fila para no borrarse.

In [0]:
# Por lo que entendí, aquellas filas que tengan valores no nulos (cantidad) menor a 4 (cantidad < 4) se borra esa fila 
df.na.drop(thresh=4).show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|  Maria|   Math|     56|     R|      null|
|Javiera|English|     77|     A|        85|
|  Tomas|   Math|     69|     A|        70|
|   Raul|   null|     45|     R|        50|
+-------+-------+-------+------+----------+