### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Conteo de nulls en las columnas de un dataframe

In [0]:
from pyspark.sql.functions import *

estudiante = [("Alfonso","Science",86,"A",90),
              ("Maria","Math",56,"R",None),
              ("Javiera","English",77,"A",85),
              ("Andres","Science",None,"A",None),
              ("Tomas","Math",69,"A",70),
              ("Raul",None,45,"R",50),
              ("Pedro","English",None,None,55)
             ]
schema = ["nombre","ramo","puntaje","status","asistencia"]

df = spark.createDataFrame(data=estudiante, schema=schema)
df.show()

+-------+-------+-------+------+----------+
| nombre|   ramo|puntaje|status|asistencia|
+-------+-------+-------+------+----------+
|Alfonso|Science|     86|     A|        90|
|  Maria|   Math|     56|     R|      null|
|Javiera|English|     77|     A|        85|
| Andres|Science|   null|     A|      null|
|  Tomas|   Math|     69|     A|        70|
|   Raul|   null|     45|     R|        50|
|  Pedro|English|   null|  null|        55|
+-------+-------+-------+------+----------+

In [0]:
result = df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns])

display(result)

nombre,ramo,puntaje,status,asistencia
0,1,2,1,2